.main-page-content {
    margin-bottom: 30px;
}

.img-position {
    float: left;
    margin-right: 15px;
}

.centred {
    margin-top: 150px;
    width: 100%;
    height: 100%;
}

.in-line {
    float: left;
}

.center-position {
    text-align: center;
}

.variants {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.variants-position {
    width: 60%;
    margin: auto;
    text-align: left;
}

.var {
    margin-top: 10px;
    color: black;
    font-size: 15px;
    padding-top: 5px;
}

.btn-a {
    width: 114px;
    padding: 5px 14px;
}

.btn-b {
    width: 190px;
    padding: 10px 10px 10px 10px;
}
.btn-margin {
    margin-left: 35px;
}

.btn-style {
    border: solid 0 #ffffff;
    font-size: 20px;
    color: #ffffff;
    background-color: #26b863;
    border-radius: 0 !important;
}


.buttons-menu {
    float: none;
    margin-top: 40px;
    text-align: center;
}

.btn-position {
    margin-top: 10px;
}

.ls {
    margin-top: 150px;
}

.login {
    padding-top: 180px;
}

table {
    width: 40%;
}

.login-tb h3 {
    margin-bottom: 3px;
}

.css-input {
    font-size: 20px;
    border-radius: 0;
    background-color: #ffffff;
    color: #000000;
    text-shadow: 0 0 0 rgba(42, 42, 42, .75);
    font-weight: normal;
    font-family: sans-serif;
    padding: 5px !important;
    border: 1px solid #161616 !important;
}

.css-input:focus {
    outline: none;
}

.lt {
    position: absolute;
}

.sign-in {
    float: left;
    width: 40%;
}

.sign-up {
    margin-top: 50px;
    margin-left: 10px;
    float: left;
    width: 40%;
}

.reg-form {
    width: 50%;
    margin: 0 auto;
}

.input-reg {
    width: 200px;
}

.test-wrapper {
    padding-top: 140px;
    margin-left: 100px;
    display: inline-block;
    margin-bottom: 40px;
}

.test-view {
    margin-top: 50px;
    width: 70%;
}

.http403 {
    text-align: center;
    margin-top: 200px;
}

.http403 h1, h2 {
    color: #26B864;
    line-height: 1.5;
}

.http403 h1 {
    font-size: 300%;
}