<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns="http://www.w3.org/1999/xhtml" version="2.0">
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <jsp:include page="/head"/>
    </head>
    <body>
    <jsp:include page="/header"/>
    <div class="site-wrapper">
    <div class="centred">
        <div class="account-    settings" >
        </div>
    </div>

        <div style="clear: both; height: 90px;"></div>
    </div>
    <jsp:include page="/footer"/>

    </body>
    </html>
</jsp:root>
