<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns="http://www.w3.org/1999/xhtml" version="2.0" xmlns:c="http://java.sun.com/jsp/jstl/core">
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Interpretation</title>
        <jsp:include page="/head"/>
        <style>
            .super {
                width: 100%;
                height: 100%;
                margin-bottom: 20px;
            }
            .centred{
                text-align: center;
            }
            .stylish-p{
                font-size: 20pt;
            }
        </style>

    </head>
    <body>
    <jsp:include page="/header"/>
    <div class="site-wrapper">
        <div class="container">
            <div class="super">
                <div class="centred">
                    <h1><b>${user} You result is:</b></h1>
                    <c:choose>
                        <c:when test="${20 >= testResult}">
                            <p style="color: red" class="stylish-p"> So bad ${testResult} points</p>
                            <img src="${pageContext.request.contextPath}/resources/images/result-viev/bad.png"/>
                        </c:when>
                        <c:when test="${40 >= testResult and testResult > 20}">
                            <p style="color: orange" class="stylish-p"> Below average ${testResult} points </p>
                            <img src="${pageContext.request.contextPath}/resources/images/result-viev/below.png"/>
                        </c:when>
                        <c:when test="${60 >= testResult and testResult > 40}">
                            <p style="color: dodgerblue" class="stylish-p"> Satisfactory ${testResult} points</p>
                            <img src="${pageContext.request.contextPath}/resources/images/result-viev/satisfactory.png"/>
                        </c:when>
                        <c:when test="${testResult >= 80}">
                            <p style="color: green" class="stylish-p"> Great ${testResult} points</p>
                            <img src="${pageContext.request.contextPath}/resources/images/result-viev/nice.png"/>
                        </c:when>
                    </c:choose>
                </div>
            </div>
        </div>
        <div style="clear: both; height: 90px;"></div>
    </div>
    <jsp:include page="/footer"/>
    </body>
    </html>
</jsp:root>
